<div class="page-header">
  <h1>
    {{ page.title }} 
    {% if page.tagline %}
      <small>{{ page.tagline }}</small>
    {% endif %}
  </h1>
</div>
    
<div class="row">
  <div class="span8">
    {{ content }}
    <hr>
    <div class="pagination btn-group">
      {% if page.previous %}
        <a class="btn prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
      {% else %}
        <a class="btn disabled prev">&larr; Previous</a>
      {% endif %}
        <a class="btn" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a>
      {% if page.next %}
        <a class="btn next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
      {% else %}
        <a class="btn next disabled">Next &rarr;</a>
      {% endif %}
    </div>
    <hr>
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style ">
          <a class="addthis_button_preferred_1"></a>
          <a class="addthis_button_preferred_2"></a>
          <a class="addthis_button_preferred_3"></a>
          <a class="addthis_button_preferred_4"></a>
          <a class="addthis_button_compact"></a>
          <a class="addthis_counter addthis_bubble_style"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51ab070b20fb8b10"></script>
      <!-- AddThis Button END -->
      <br></br>
    {% include JB/comments %}
  </div>
  
  <div class="span4">
    <section>
      <h4>Published</h4>
      <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
    </section>
    {% if page.category %}
      <section>
        <h4>Category</h4>
        <span class="category">
          {{ page.category }}
        </span>
      </section>
    {% endif %}     
    {% unless page.tags == empty %}
      <section>
        <h4>Tags</h4>
        <ul class="tag_box">
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </ul>
      </section>
      {% endunless %}         
      <div class="post-sharing">
     {% include JB/sharing %}
      </div>
  </div>
</div>
